body {
    margin: 20px auto;
    max-width: 1920px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    background-color: #fef9f1;
}

hr {

}

.title {
    font-size: 3em;
    font-weight: 500;
    color: #271e1a;
}

.meme_acc {
    display: block;
    max-width: 100%;
    cursor: pointer;
}

.meme_title {
    display: block;
    color: #271e1a;
    cursor: pointer;
    font-size: 2em;
    padding: 0.5%;
}

.meme_title:hover {
    color: #b3a396;
    transition: .2s ease-out;
}

.meme_img {
    display: none;
    text-align: center;
}

.meme_input {
    appearance: none;
}

.meme_input:checked+.meme_img {
    display: block;
}

/* --------------------------- Tablet version ------------------------- */

@media screen and (max-width: 820px) {

    .title {
        padding: 2%;
        font-size: 2.5em;
        font-weight: 200;
    }

    .meme_title {
        font-size: 1.5em;
        padding: 2%;
    }

    img {
        height: 70%;
        width: 70%;
    }
}

/* --------------------------- Mobile version ------------------------- */

@media screen and (max-width: 320px) {

    .body {
        max-width: 320px;
    }

    .title {
        font-size: 2em;
        font-weight: 500;
    }

    .meme_title {
        font-size: 1em;
        padding: 0.5%;
    }

    img {
        height: 50%;
        width: 50%;
    }
}